# Azure Blob Storage のURLをここに記載
AZURE_BLOB_STORAGE_URL=https://*****************.blob.core.windows.net

# --- 必須環境変数 ---
NODE_ENV=development
DATABASE_URL="postgresql://user:mypassword@localhost:5432/aicd"
COSMOS_DB_ENDPOINT=https://***********.documents.azure.com:443/
COSMOS_DB_KEY=************************
AZURE_BLOB_CONNECTION_STRING=*************************
AZURE_BLOB_CONTAINER_NAME=uploads

# --- Azure OpenAI/Blob Storage 用 ---
AZURE_OPENAI_RESOURCE_NAME=*****************
AZURE_OPENAI_RESOURCE_API_KEY=*********************************************************
AZURE_OPENAI_API_VERSION=2025-01-01-preview
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4.1-mini

# --- Azure Speech-to-Text 用 ---
AZURE_SPEECH_KEY=*********************************************************
AZURE_SPEECH_REGION=japaneast
